<% layout('/layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-3">
            <h2><b>
                    <%= listing.title %>
                </b></h2>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="listing">
            <div class="card-body">
                <p class="card-text"> Owned by <b><i><%= listing.owner.username %></i></b></p>
                <p> <%= listing.description %> </p>
                <p><% if (listing.price) { %>&#8377; <%= listing.price.toLocaleString("en-IN") %>/night </p>
                <p><% } else { %> Price not available<% } %> </p>
                <p><%= listing.location %> </p>
                <p><%= listing.country %> </p>
            </div>
        </div>
     
        <div class="btns">
            <a href="/listings/<%=listing._id%>/edit" class="btn edit-btn col-1 offset-3">Edit</a>
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-3">Delete</button>
            </form>
        </div>


        <div class="col-8 offset-3 mb-3">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" id="rating" name="review[rating]" min="1" max="5">
                </div>
                <div>
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" col="30" rows="5" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please enter a comment.
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
            <p><b>All Reviews</b></p>
            <div class="row">
            <% for(review of listing.reviews) { %>
                <div class="card col-5 mb-3 ms-3">
                    <div class="card-body">
                        <!-- Replace line 53 with this to display the author's username -->
                        <h5 class="card-title">@<%= review.author ? review.author.username : 'Unknown User' %></h5>
                        <p class="card-text">
                            <%= review.comment%>
                        </p>
                        <p class="card-text">
                            <%= review.rating%> Stars
                        </p>
                        <form class="mb-3" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <br>